body{
    margin: 0%;
    background:  no-repeat linear-gradient( to top left,#D9309E,#4A1FA6,#050A26);
}
.container{
    margin-top: 30px;
    margin-bottom: 53px;
}
.card-body{
    padding: 50px;
    box-shadow: 3px 6px 6px 3px rgba(0, 0, 0, 0.266) ;
}
#img{
    padding-bottom: 20px;
    display: block;
    margin: auto;
}
.erro{
    border: 2px solid rgb(230, 57, 57)!important;
}
@media screen and (max-width: 1280px) {
     .container{
         margin-top: 10%;
         margin-bottom: 11%;
     }   
}
@media screen and (max-width:412px) {
    .container{
          margin-top: 90px;
          margin-bottom: 71%;
    }
}
